<!doctype html>
<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Sidebar</h1>
  <form name="myform" onsubmit="return false">
    <!-- <input name="search"  type="submit" value="Search" /> -->
    <input type="text" id="subredditQuery" maxlength="" />
</form>
</nav>
<body>
  <div id="graph">
  </div>
</body>

<script src="{{ url_for('static', filename='viz.js') }}"></script>

