

rect {
  fill: none;
  pointer-events: all;
}


.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #000000;
}

.text {
  color: #777;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  /* top: 10px; */
  left: 0;
}

text {
  font-family: Roboto;
  font-weight: bold;
}